@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?etwqgd');
  src:  url('fonts/icomoon.eot?etwqgd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?etwqgd') format('truetype'),
    url('fonts/icomoon.woff?etwqgd') format('woff'),
    url('fonts/icomoon.svg?etwqgd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "\e855";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_balance:before {
  content: "\e84f";
}
.icon-account_balance_wallet:before {
  content: "\e850";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-adb:before {
  content: "\e60e";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-add_location:before {
  content: "\e567";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-queue:before {
  content: "\e03c";
}
.icon-android2:before {
  content: "\e859";
}
.icon-archive:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-attachment2:before {
  content: "\e2bc";
}
.icon-bubble_chart:before {
  content: "\e6dd";
}
.icon-build:before {
  content: "\e869";
}
.icon-cake:before {
  content: "\e7e9";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-call_end:before {
  content: "\e0b1";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-camera_enhance:before {
  content: "\e8fc";
}
.icon-camera_front:before {
  content: "\e3b1";
}
.icon-camera_rear:before {
  content: "\e3b2";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-change_history:before {
  content: "\e86b";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-clear_all:before {
  content: "\e0b8";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_circle:before {
  content: "\e2be";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-code:before {
  content: "\e86f";
}
.icon-laptop2:before {
  content: "\e31e";
}
.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-copyright:before {
  content: "\e943";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-date_range:before {
  content: "\e998";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e999";
}
.icon-delete_sweep:before {
  content: "\e16c";
}
.icon-device_hub:before {
  content: "\e335";
}
.icon-phonelink:before {
  content: "\e326";
}
.icon-devices_other:before {
  content: "\e337";
}
.icon-dns:before {
  content: "\e875";
}
.icon-do_not_disturb_off:before {
  content: "\e643";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-fiber_new:before {
  content: "\e05e";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter:before {
  content: "\e3d3";
}
.icon-filter_1:before {
  content: "\e3d0";
}
.icon-filter_2:before {
  content: "\e3d1";
}
.icon-filter_3:before {
  content: "\e3d2";
}
.icon-filter_4:before {
  content: "\e3d4";
}
.icon-filter_5:before {
  content: "\e3d5";
}
.icon-filter_6:before {
  content: "\e3d6";
}
.icon-filter_7:before {
  content: "\e3d7";
}
.icon-filter_8:before {
  content: "\e3d8";
}
.icon-filter_9:before {
  content: "\e3d9";
}
.icon-filter_9_plus:before {
  content: "\e3da";
}
.icon-filter_drama:before {
  content: "\e3dd";
}
.icon-fingerprint:before {
  content: "\e944";
}
.icon-folder3:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-folder_special:before {
  content: "\e617";
}
.icon-g_translate:before {
  content: "\e945";
}
.icon-gif:before {
  content: "\e99a";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-location_searching:before {
  content: "\e1b7";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-high_quality:before {
  content: "\e024";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-restore:before {
  content: "\e8b3";
}
.icon-home:before {
  content: "\e88a";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-http:before {
  content: "\e99b";
}
.icon-photo:before {
  content: "\e410";
}
.icon-info2:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-language:before {
  content: "\e894";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-lens:before {
  content: "\e3fa";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-theaters:before {
  content: "\e8da";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-location_off:before {
  content: "\e0c7";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-map:before {
  content: "\e55b";
}
.icon-menu5:before {
  content: "\e5d2";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-money_off:before {
  content: "\e25c";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-mouse:before {
  content: "\e323";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-network_check:before {
  content: "\e640";
}
.icon-network_wifi:before {
  content: "\e1ba";
}
.icon-next_week:before {
  content: "\e16a";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-perm_contact_calendar:before {
  content: "\e8a3";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-person_pin_circle:before {
  content: "\e56a";
}
.icon-photo_size_select_large:before {
  content: "\e433";
}
.icon-photo_size_select_small:before {
  content: "\e434";
}
.icon-picture_as_pdf:before {
  content: "\e415";
}
.icon-pin_drop:before {
  content: "\e55e";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-polymer:before {
  content: "\e8ab";
}
.icon-portrait:before {
  content: "\e416";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-publish:before {
  content: "\e255";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-report:before {
  content: "\e160";
}
.icon-warning2:before {
  content: "\e002";
}
.icon-rss_feed:before {
  content: "\e0e5";
}
.icon-save:before {
  content: "\e161";
}
.icon-school:before {
  content: "\e80c";
}
.icon-search2:before {
  content: "\e8b6";
}
.icon-security:before {
  content: "\e32a";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-sentiment_neutral:before {
  content: "\e812";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-settings_applications:before {
  content: "\e8b9";
}
.icon-settings_overscan:before {
  content: "\e8c4";
}
.icon-share:before {
  content: "\e80d";
}
.icon-shop:before {
  content: "\e8c9";
}
.icon-shopping_basket:before {
  content: "\e8cb";
}
.icon-stay_primary_portrait:before {
  content: "\e0d6";
}
.icon-speaker:before {
  content: "\e32d";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-stars:before {
  content: "\e8d0";
}
.icon-stay_primary_landscape:before {
  content: "\e0d5";
}
.icon-storage:before {
  content: "\e1db";
}
.icon-store_mall_directory:before {
  content: "\e563";
}
.icon-straighten:before {
  content: "\e41c";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
.icon-swap_vertical_circle:before {
  content: "\e8d6";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-thumbs_up_down:before {
  content: "\e8dd";
}
.icon-timer_10:before {
  content: "\e423";
}
.icon-timer_3:before {
  content: "\e424";
}
.icon-videocam:before {
  content: "\e04b";
}
.icon-videocam_off:before {
  content: "\e04c";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-voice_chat:before {
  content: "\e62e";
}
.icon-watch:before {
  content: "\e334";
}
.icon-watch_later:before {
  content: "\e99c";
}
.icon-weekend:before {
  content: "\e16b";
}
.icon-work:before {
  content: "\e8f9";
}
.icon-youtube_searched_for:before {
  content: "\e8fa";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e946";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-star:before {
  content: "\e963";
}
.icon-star2:before {
  content: "\e964";
}
.icon-key3:before {
  content: "\e965";
}
.icon-key4:before {
  content: "\e966";
}
.icon-information:before {
  content: "\e967";
}
.icon-information2:before {
  content: "\e968";
}
.icon-book:before {
  content: "\e969";
}
.icon-book2:before {
  content: "\e96a";
}
.icon-book-bookmark:before {
  content: "\e96b";
}
.icon-book-bookmark2:before {
  content: "\e96c";
}
.icon-notebook:before {
  content: "\e96d";
}
.icon-notebook2:before {
  content: "\e96e";
}
.icon-notebook3:before {
  content: "\e96f";
}
.icon-notebook4:before {
  content: "\e970";
}
.icon-notebook5:before {
  content: "\e971";
}
.icon-notebook6:before {
  content: "\e972";
}
.icon-notebook-text:before {
  content: "\e973";
}
.icon-notebook-text2:before {
  content: "\e974";
}
.icon-document-text:before {
  content: "\e975";
}
.icon-document-text2:before {
  content: "\e976";
}
.icon-document-download:before {
  content: "\e977";
}
.icon-document-download2:before {
  content: "\e978";
}
.icon-document-text3:before {
  content: "\e979";
}
.icon-document-text4:before {
  content: "\e97a";
}
.icon-folder:before {
  content: "\e97b";
}
.icon-folder2:before {
  content: "\e97c";
}
.icon-search3:before {
  content: "\e97d";
}
.icon-search4:before {
  content: "\e97e";
}
.icon-search-plus:before {
  content: "\e97f";
}
.icon-search-plus2:before {
  content: "\e980";
}
.icon-lock-open:before {
  content: "\e981";
}
.icon-lock-open2:before {
  content: "\e982";
}
.icon-lock-rounded:before {
  content: "\e983";
}
.icon-lock-rounded2:before {
  content: "\e984";
}
.icon-printer2:before {
  content: "\e985";
}
.icon-printer3:before {
  content: "\e991";
}
.icon-printer-text:before {
  content: "\e994";
}
.icon-printer-text2:before {
  content: "\e995";
}
.icon-cloud:before {
  content: "\e996";
}
.icon-cloud2:before {
  content: "\e997";
}
.icon-pen-angled:before {
  content: "\e94f";
}
.icon-pen-angled2:before {
  content: "\e950";
}
.icon-document-certificate:before {
  content: "\e947";
}
.icon-document-certificate2:before {
  content: "\e948";
}
.icon-certificate:before {
  content: "\e949";
}
.icon-certificate2:before {
  content: "\e94a";
}
.icon-trophy:before {
  content: "\e94b";
}
.icon-trophy2:before {
  content: "\e94c";
}
.icon-medal:before {
  content: "\e951";
}
.icon-medal2:before {
  content: "\e952";
}
.icon-award:before {
  content: "\e95b";
}
.icon-award2:before {
  content: "\e95c";
}
.icon-award3:before {
  content: "\e95d";
}
.icon-award4:before {
  content: "\e95e";
}
.icon-award5:before {
  content: "\e95f";
}
.icon-award6:before {
  content: "\e960";
}
.icon-medal3:before {
  content: "\e961";
}
.icon-medal4:before {
  content: "\e962";
}
.icon-one-finger-double-tap:before {
  content: "\e900";
}
.icon-one-finger-double-tap2:before {
  content: "\e901";
}
.icon-one-finger-click:before {
  content: "\e902";
}
.icon-one-finger-click2:before {
  content: "\e903";
}
.icon-one-finger-swipe-horizontally:before {
  content: "\e904";
}
.icon-one-finger-swipe-horizontally2:before {
  content: "\e905";
}
.icon-one-finger-swipe:before {
  content: "\e906";
}
.icon-one-finger-swipe2:before {
  content: "\e907";
}
.icon-document-file-png:before {
  content: "\e908";
}
.icon-document-file-png2:before {
  content: "\e909";
}
.icon-document-file-pdf:before {
  content: "\e90a";
}
.icon-document-file-pdf2:before {
  content: "\e90b";
}
.icon-document-file-mp3:before {
  content: "\e90c";
}
.icon-document-file-mp32:before {
  content: "\e90d";
}
.icon-document-file-mp4:before {
  content: "\e90e";
}
.icon-document-file-mp42:before {
  content: "\e90f";
}
.icon-document-file-mov:before {
  content: "\e910";
}
.icon-document-file-mov2:before {
  content: "\e911";
}
.icon-document-file-jpg:before {
  content: "\e912";
}
.icon-document-file-jpg2:before {
  content: "\e913";
}
.icon-document-file-psd:before {
  content: "\e914";
}
.icon-document-file-psd2:before {
  content: "\e915";
}
.icon-document-file-ai:before {
  content: "\e916";
}
.icon-document-file-ai2:before {
  content: "\e917";
}
.icon-document-file-bmp:before {
  content: "\e918";
}
.icon-document-file-bmp2:before {
  content: "\e919";
}
.icon-document-file-dwg:before {
  content: "\e91a";
}
.icon-document-file-dwg2:before {
  content: "\e91b";
}
.icon-document-file-doc:before {
  content: "\e91c";
}
.icon-document-file-doc2:before {
  content: "\e91d";
}
.icon-document-file-odt:before {
  content: "\e91e";
}
.icon-document-file-odt2:before {
  content: "\e91f";
}
.icon-document-file-xls:before {
  content: "\e920";
}
.icon-document-file-xls2:before {
  content: "\e921";
}
.icon-document-file-docx:before {
  content: "\e922";
}
.icon-document-file-docx2:before {
  content: "\e923";
}
.icon-document-file-ppt:before {
  content: "\e924";
}
.icon-document-file-ppt2:before {
  content: "\e925";
}
.icon-document-file-xml:before {
  content: "\e926";
}
.icon-document-file-xml2:before {
  content: "\e927";
}
.icon-document-file-exe:before {
  content: "\e928";
}
.icon-document-file-exe2:before {
  content: "\e929";
}
.icon-document-file-avi:before {
  content: "\e92a";
}
.icon-document-file-avi2:before {
  content: "\e92b";
}
.icon-document-file-m4v:before {
  content: "\e92c";
}
.icon-document-file-m4v2:before {
  content: "\e92d";
}
.icon-document-file-flv:before {
  content: "\e92e";
}
.icon-document-file-flv2:before {
  content: "\e92f";
}
.icon-document-file-mpg:before {
  content: "\e930";
}
.icon-document-file-mpg2:before {
  content: "\e931";
}
.icon-document-file-wav:before {
  content: "\e932";
}
.icon-document-file-wav2:before {
  content: "\e933";
}
.icon-document-file-zip:before {
  content: "\e934";
}
.icon-document-file-zip2:before {
  content: "\e935";
}
.icon-document-file-tgz:before {
  content: "\e936";
}
.icon-document-file-tgz2:before {
  content: "\e937";
}
.icon-document-file-iso:before {
  content: "\e938";
}
.icon-document-file-iso2:before {
  content: "\e939";
}
.icon-document-file-rar:before {
  content: "\e93a";
}
.icon-document-file-rar2:before {
  content: "\e93b";
}
.icon-document-file-gif:before {
  content: "\e93c";
}
.icon-document-file-gif2:before {
  content: "\e93d";
}
.icon-coin-dollar:before {
  content: "\e93e";
}
.icon-coin-euro:before {
  content: "\e93f";
}
.icon-coin-pound:before {
  content: "\e940";
}
.icon-coin-yen:before {
  content: "\e941";
}
.icon-credit-card:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e94d";
}
.icon-location2:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-flickr3:before {
  content: "\eaa5";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "\eab0";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}
